:root {
  --primary-color: #425b84;
  --secondary-color: #5b7bb4;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* shorthand access for   'font'
    font-family
    font-size
    font-stretch
    font-style
    font-variant
    font-weight
    line-height
*/
  font: normal 1rem/1.5 'Arial', sans-serif;
  background: var(--primary-color);
  color: #fff;
  /*to learn*/
  overflow-x: hidden;
  padding-bottom: 50px;
}

#main-header {
  background: var(--secondary-color);
  padding: 4rem 0;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
}

#timeline ul {
  background: var(--primary-color);
  padding: 50px 0;
}

/*-------------------------------------------------------------------- Create Line with the li */
#timeline ul li {
  list-style: none;
  /*later some of stuff inside of the li are going to be absolute so we should make this relative*/
  position: relative;
  width: 6px;
  margin:  auto;
  padding-top: 50px;
  background: #fff;
}

/* Boxes with the div */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: var(--secondary-color);
  /* we gonna add some transition because ultimately if we add our JS we gonna have some animation*/
  transition: all 0.5s ease-in-out;

  /*for the js file*/
  visibility: hidden;
  opacity: 0;
}

/*-------------------------------------------------------------------- Right Side */
#timeline ul li:nth-child(odd) div {
  /*distance to the middle line*/
  left: 40px;
  transform: translate(200px, 0);
}

/* --------------------------------------------------------------------Left Side */
#timeline ul li:nth-child(even) div {
  /*move the box to 40px away from the middle line (remember the start position is the top-right) */
  left: -434px;
  transform: translate(-200px, 0);
}

/* -------------------------------------------------------------------- Dots */

#timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  transform: translateX(-50%);
  border-radius: 50%;
  /*JS will be used here*/
  transition: background 0.5s ease-in-out;
}

/* -------------------------------------------------------------------- Arrows Base Implementation */
#timeline div:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  /* TOP RIGHT BOTTOM LEFT*/
  border-width: 8px 16px 8px 0;
  /* TOP RIGHT BOTTOM LEFT*/
  border-color: transparent var(--secondary-color) transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
  right: -15px;
  /* TOP RIGHT BOTTOM LEFT*/
  border-width: 8px 0 8px 16px;
  /* TOP RIGHT BOTTOM LEFT*/
  border-color: transparent transparent transparent var(--secondary-color);
}






/* What the JS file does is that it will add a class named "show" to each li, when they appear in browser*/
#timeline ul li.show div {

  /*at the beginning they divs or the boxes are moved 200px away of the middle line.
  when the show class is being added (when it shows up on the screen) we want it to be
  in its natural position. so we cancel the Translate(200px, 0)   that we have done.*/
  transform: none;
  visibility: visible;
  opacity: 1;
}

#timeline ul li.show:after {
  background: var(--secondary-color);
}
















@media(max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}

@media(max-width: 600px) {
  #timeline ul li {
    /* margin : auto   was the reason that all of these where in middle*/
    margin-left: 20px;
  }

  #timeline ul li div {
    /*CSS calc function ! */
    /* 90pixels less than the whole vw*/
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
  }
}

