/* just a wrapper around all the menu contents even the overlay*/
.menu-wrap {

    /*    we dont want the menu to move when we scroll down or whatever
            also doing this will make it to sit on top of everything*/
    position: fixed;
    top: 0;
    left: 0;
    /*to be on top always*/
    z-index: 1;
}

/* actual checkbox input*/
.menu-wrap .toggler {

    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    /*increasing checking size*/
    width: 50px;
    height: 50px;
    /*its always on top but not visible*/
    z-index: 2;
    opacity: 0;

}

/* making the square and positioning it right under the checkbox */
.menu-wrap .hamburger {
    /*positioning it same as the check box*/
    position: absolute;
    top: 0;
    left: 0;
    /*to be under the checkbox*/
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);

    /*because the inside div should take care of the lines so we need to adjust its positions*/
    display: flex;
    align-items: center;
    justify-content: center;

}


/*  LINE :  middle                   .hamburger > div  ==  .lines   (hint)   */

.menu-wrap .hamburger > div {
    position: relative;

    /*The item is sized according to its width and height properties.
     It is fully inflexible: it neither shrinks nor grows in relation to the flex container (square of the hamburger) */
    flex: none;

    /*goes all the way across the parent (square) except for the padding */
    width: 100%;

    /* thickness of the line*/
    height: 2px;

    background: #fff;


    transition: all 0.4s ease ;
    /* ??????????????????? */
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}


/*  LINE :  top and bottom  */

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    /* this allows us to use tblr relative to its parent (the div in hamburger class)*/
    position: absolute;
    z-index: 1;
    top: -10px;

    /*inheriting of the div in the hamburger class*/
    width: inherit;
    height: inherit;
    background: inherit;
}

/* in the above we created both top and bottom lines on the same position, now we move one down*/
.menu-wrap .hamburger > div:after {
    top: 10px;
}


/*---------------------------------- Toggler Animation */

/*this style will be shown when its checked */
/*If I be correct this fancy signs are not necessarily*/
.menu-wrap .toggler:checked + .hamburger > div {
    /*this will rotate the before and the after too*/
    transform: rotate(135deg);
}


.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top : 0;
    transform: rotate(90deg);
}


/*Rotate on hover when checked*/
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}





.menu-wrap .menu {
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*making it hidden*/
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
/*dark overlay*/
.menu-wrap .menu > div{
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /*we dont want the width to be effected of being flex*/
    flex: none;

    /*making it hidden*/
    transform: scale(0);
    transition: all 0.4s ease;
    transition-duration: var(--menu-speed);
}
/* making the fade in effect of the list items*/
.menu-wrap .menu > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    /*making it hidden*/
    opacity: 0;
    transition: opacity 0.4s ease 0.4s;
}

/* all of the customization above are hidden. we change them to show up over here*/
.menu-wrap .toggler:checked ~ .menu{
visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;

}





.menu-wrap .menu > div > div > ul > li{
    list-style: none;
    /*in case there is a list item that is not a link*/
    color: white;
    font-size: 1.5rem;
    padding: 1rem;

}
.menu-wrap .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover{
    color: var(--secondary-color);
}






